<div class="container page-width">
	<div>
		<a href="/questions/new"><button class="btn btn-lg btn-warning btn-block" type="submit" align="right">ASK A QUESTION</button></a>
			<center><%= will_paginate @lists %></center>
		<h4><%= @list_title %></h4>
	</div>
	<div>
		<ul class="list-group">
			<% @lists.each do |question|%>
			  <li class="list-group-item">
				  <h5><a href="/questions/<%= question.id %>"><span class="bg-success"><%= question.description %></span></a></h5>
				  <% answer = question.answers.last %>
				  <span class="small">
				  <% if answer == nil %>
				  	<p class="small">No answer given yet</p>
				  <% else %>
				  	<p class="small">Answered by: <%= answer.user.username %></p>
				  	
				  	<p class="norm"><%= answer.description %></p>
				  <% end %>
				  </span> <!-- END small more -->
			  </li> <!-- END list-group-item -->
		 	<% end %> <!-- END list each do question -->
		</ul> <!-- END list-group -->
	<div> <!-- END 2nd div -->
</div> <!-- END container page width -->